{{ define "content" }}
  <h1 class="jumbotron"><a href="/">Isutter</a></h1>

  <h2>Timeline</h2>

  <div class="row panel panel-primary" id="timeline">
    <div class="col-md-4">
      <dl>
        <dt>name</dt><dd id="prof-name">{{.User.Name}}</dd>
        <dt>email</dt><dd id="prof-email">{{.User.Email}}</dd>
        <dt>following</dt><dd id="prof-following"><a href="/following">{{.Following}}</a></dd>
        <dt>followers</dt><dd id="prof-followers"><a href="/followers">{{.Followers}}</a></dd>
      </dl>
    </div>

    {{range $i, $v := .Tweets}}
      <div class="tweet">
        <div class="user">
          <a href="/user/{{$v.UserID}}">{{$v.UserName}}</a>
        </div>
        <div class="tweet">
          {{$v.Content}}
        </div>
        <div class="tweet-created-at">Posted at:{{$v.CreatedAt}}</div>
      </div>
    {{end}}
  </div>
{{ end }}
