<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Isutter</title>
  </head>
  <body class="container">
    <h1 class="jumbotron"><a href="/">Welcome Isucon</a></h1>
    {{template "content" .}}
  </body>
</html>
